In [1]:
import pandas as pd
print(pd.__version__)

2.2.3

In [39]:
xy = pd.read_excel(r"C:\Users\ADMIN\Downloads\Customer Call List.xlsx")
xy.drop_duplicates(inplace=True)
xy.drop(columns = 'Not_Useful_Column', inplace=True)
# xy['Last_Name'] = xy['Last_Name'].str.lstrip('...')
# xy['Last_Name'] = xy['Last_Name'].str.lstrip('/')
# xy['Last_Name'] = xy['Last_Name'].str.rstrip('_')
xy['Last_Name'] = xy['Last_Name'].str.strip('123./_')
xy['Phone_Number'] = xy['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex=True)
xy['Phone_Number'] = xy['Phone_Number'].apply(lambda x: str(x))
xy['Phone_Number'] = xy['Phone_Number'].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:])
xy['Phone_Number'] =xy['Phone_Number'].str.replace('nan--','')
xy['Phone_Number'] =xy['Phone_Number'].str.replace('Na--', '')
xy[['Street_Address', 'State', 'Zip_Code']]= xy['Address'].str.split(',',n = 2, expand=True)
xy.drop(columns = 'Address', inplace=True)
xy['Paying Customer']= xy['Paying Customer'].str.replace('Yes', 'Y')
xy['Paying Customer']= xy['Paying Customer'].str.replace('No', 'N')
xy['Do_Not_Contact'] = xy['Do_Not_Contact'].str.replace('Yes', 'Y')
xy['Do_Not_Contact'] = xy['Do_Not_Contact'].str.replace('No', 'N')
xy.fillna('', inplace=True)
xy.replace('N/a', '', inplace=True)

for x in xy.index:
    if xy.loc[x, 'Do_Not_Contact'] == 'Y':
        xy.drop(x, inplace=True)

for x in xy.index:
    if xy.loc[x, 'Phone_Number'] == '':
        xy.drop(x, inplace=True)


xy.reset_index(drop=True, inplace=True)
xy

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street_Address,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1005,Jon,Snow,876-678-3469,Y,N,123 Dragons Road,,
2,1008,Sherlock,Holmes,876-678-3469,N,N,98 Clue Drive,,
3,1010,Peter,Parker,123-545-5421,Y,N,25th Main Street,New York,
4,1013,Don,Draper,123-543-2345,Y,N,2039 Main Street,,
5,1014,Leslie,Knope,876-678-3469,Y,N,343 City Parkway,,
6,1015,Toby,Flenderson,304-762-2467,N,N,214 HR Avenue,,
7,1016,Ron,Weasley,123-545-5421,N,N,2395 Hogwarts Avenue,,
8,1017,Michael,Scott,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
9,1020,Anakin,Skywalker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,